@import url("style-dark.css");

.module,
#hardware,
#light,
#system,
#clock {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
}

#pulseaudio:hover,
#network:hover,
#clock:hover,
#custom-theme-switcher:hover,
#custom-poweroff:hover,
#custom-reboot:hover,
#custom-lock:hover {
    color: #777;
}
