.modules-left,
.modules-center,
.modules-right {
    margin-top: 5px;
}

.modules-left:first-child {
    margin-left: 10px;
}

.modules-right:last-child {
    margin-right: 0;
    margin-right: 10px;
}

* {
    font-size: 13px;
    font-weight: bold;
    font-family: "Liberation Mono";
}

.module,
#hardware,
#light,
#system,
#clock {
    border-radius: 3px;
    color: @theme_text_color;
    background-color: @headerbar_bg_color;
    transition: color 0.2s ease-in-out;
}

window#waybar,
#hardware .module,
#light .module,
#system .module,
#clock .module {
    background-color: transparent;
}

#battery,
#hardware,
#system,
#light {
    margin-right: 2.5px;
}

.module {
    padding: 5px 6px 3px 6px;
}

#tray {
    padding: 3px 6px 3px 6px;
}

#clock {
    padding-right: 4px;
}

#battery {
    padding-right: 8px;
}

#network,
#cpu,
#memory {
    padding-right: 10px;
}

#custom-scheme-switcher {
    padding-right: 14px;
}

#pulseaudio:hover,
#network:hover,
#custom-scheme-switcher:hover,
#custom-poweroff:hover,
#custom-reboot:hover,
#custom-lock:hover {
    color: @light_5;
}

#battery.charging {
    padding-right: 14px;
    background-color: RGBA(38, 166, 91, 0.4);
}

@keyframes blink {
    to {
        background-color: @error_bg_color;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
