window#waybar {
    background-color: transparent;
}

.modules-left:first-child {
    margin-left: 10px;
}

.modules-right:last-child {
    margin-right: 10px;
}

.module {
    color: #fff;
    background-color: #383838;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0 0 0;
    padding: 2.5px 7.5px;
    border-radius: 3px;
    font-family: "Liberation Mono";
}

#custom-power {
    padding-right: 1px;
}

#clock {
    padding-right: 4px;
}

#memory,
#cpu {
    padding-right: 10px;
}

#battery,
#network {
    padding-right: 12px;
}

@keyframes blink {
    to {
        background-color: RGBA(255, 255, 255, 0.5);
        color: #000000;
    }
}

#battery.charging {
    background-color: RGBA(38, 166, 91, 0.4);
}

#battery.critical:not(.charging) {
    background-color: RGBA(245, 60, 60, 0.5);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
